{% extends "core/default.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
	<h2>Stream</h2>
			<p>Keep up with the latest activity.</p>
			{% for post in post_list %}
			<div class='post'>
				<div class='post_options'>
					<span class="post_avatar" style="background: url('{{ post.posted_by.profile_picture }}') no-repeat center center; background-size: 3em;"></span>
				</div>
				<div class='post_content'>
					<div class='post_head'>
						<h3>{{post.text}}</h3>
						<small>2 minutes ago <i class='icon-map-marker'></i> Tesco Express, Cathays</small>
					</div>
				</div>
				<div class='post_actions'>
						<a href="#"><i class='icon-ok-sign'></i></a>
				</div>
			</div>
			{% endfor %}
{% endblock %}
