{% extends "core/default.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
	<h2>Stream</h2>
			<p>Keep up with the latest activity.</p>
			<div class='post'>
				<div class='post_options'>
					<span class="post_avatar" style="background: url('http://api.twitter.com/1/users/profile_image?screen_name=josephredfern&size=bigger') no-repeat center center; background-size: 3em;"></span>
				</div>
				<div class='post_content'>
					<div class='post_head'>
						<h3>Joe has bought a gun for &pound;250.00</h3>
						<small>2 minutes ago <i class='icon-map-marker'></i> Tesco Express, Cathays</small>
					</div>
				</div>
				<div class='post_actions'>
						<a href="#"><i class='icon-ok-sign'></i></a>
				</div>
			</div>
{% endblock %}
