<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8 />
	<title>cfhack - {% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
	<script type="text/javascript" source='{{ STATIC_URL }}js/jquery.js'></script>
	<script type="text/javascript" source='{{ STATIC_URL }}js/bootstrap.js'></script>
</head>
<body>
	<div class='topbar'>
		<a class="brand" href="http://localhost/tobook.me/public/">cfhack<sup><small>BETA</small></sup></a>
		<nav>
			<ul class='nav menu'>
				<li>
					<span class="avatar" style="background: url('{{ user.profile_picture }}') no-repeat center center; background-size: 1.875em;"></span>
				</li>
				<li>
					<div class="dropdown" style='position: relative;'>
					  <a href="#" class='dropdown-toggle' data-toggle='dropdown'>{{user.username}} <span class='icon-chevron-down'></span></a>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
					    <li><a tabindex="-1" href="#">Action</a></li>
					    <li><a tabindex="-1" href="#">Another action</a></li>
					    <li><a tabindex="-1" href="#">Something else here</a></li>
					    <li class="divider"></li>
					    <li><a tabindex="-1" href="#">Separated link</a></li>
					  </ul>
					</div>
				</li>
				<li class='balance'>&pound; 215.00</li>
				<li class='balance'><a href="#"><i class='icon-off'></i></a></li>
			</ul>
		</nav>
	</div>
	<div class='app'>
		<div class='options'>
			<div class='option selected'>
				<p><i class='icon-comments-alt'></i></p>
				<p>Stream</p>
			</div>
			<div class='option'>
				<p><i class='icon-money'></i></p>
				<p>Expenses</p>
			</div>
			<div class='option'>
				<p><i class='icon-bar-chart'></i></p>
				<p>Analyze</p>
			</div>
			<div class='option'>
				<p><i class='icon-book'></i></p>
				<p>Manage</p>
			</div>
			<div class='option'>
				<p><i class='icon-wrench'></i></p>
				<p>Settings</p>
			</div>
		</div>
		<div class='content'>
			{% block content %}

			{% endblock %}
		</div>
	</div>
</body>
</html>