// import html5.v4 reset:
@import 'reset.less';
@import 'normalize.css';
@import 'functions.less';
@import 'font-awesome-ie7.less';
@import 'font-awesome.less';
@import 'http://fonts.googleapis.com/css?family=Signika:400,300';

// colors
@white: hsl(0, 0, 100%);
@primary: hsl(208, 100%, 60%);
@atention: spin(@primary, -178);
@warning: hsl(0, 80%, 60%);
@green: hsl(102, 50%, 50%);

// typography style

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
}

// common properties
a, a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {

}

// Style by walter carvalho
body {
	font-family: 'Signika', helvetica, sans-serif;
	color: #444;
}

nav { 
	// float: right;
}

nav ul {
	margin: 0;
	padding: 0 !important;
}

nav li {
	float: left;
	line-height: 3.5em;
	// text-transform: uppercase;
}

nav span {
	display: block;
}

.hide {
	display: none;
}

.topbar {
	margin: 0 auto;
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 500;
	background-color: lighten(@primary, 10%);
	border-bottom: .3em solid @primary;
	height: 3.75em;
	padding: 0 2em;
	color: white;
}

.topbar .brand {
	float: left;
	font-weight: 400;
	line-height: 2.333333333em;
	font-size: 1.5em;
}

.topbar nav {
	float: right;
}

.topbar li {
	float: left;
	margin-right: 2*0.625em;
}

.topbar li:last-child {
	margin-right: 0;
}

.topbar .avatar {

}

.avatar {
	vertical-align: middle;
	display: inline-block;
	width: 1.875em;
	height: 1.875em;
	border: 3px solid @primary;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
	background-size: 35px;
	background-position: initial initial;
	background-repeat: no-repeat no-repeat;
}

.post_avatar {
	display: block;
	width: 50px;
	height: 50px;
	border: 3px solid hsl(0, 0%, 80%);
	.border (70px);
	// background-image: url(http://api.twitter.com/1/users/profile_image?screen_name=waltercfilho&size=bigger);
	background-size: 50px;
	background-position: initial initial;
	background-repeat: no-repeat no-repeat;
}

.app {
	width: 100%;
	padding-top: 3.75em;
	overflow: hidden;
}

.options {
	float: left;
	position: fixed;
	width: 10%;
	color: white;
	background: #555;
}

.options div {
	cursor: pointer;
	text-align: center;
	padding: 0.625em;
	border-bottom: 0.1em solid #555;
	// -webkit-box-shadow: inset -10px 0px 1px 0px rgba(0, 0, 0, 1);
	// box-shadow: inset -10px 0px 1px 0px rgba(0, 0, 0, 1);
}

.options .selected {
	background-color: #444;
	// border-right: 0.2em solid @primary;
}

.options div:last-child {
	border-bottom: none;
}

.options div:hover {
	background: lighten(#444, 30%);
}

.content {
	float:left;
	padding: 2*0.625em;
	margin-left: 10%;
	overflow: hidden;
}

.post {
	.border (6px);
	background-color: hsl(0, 0%, 94%);
	padding: 0.625em;
	overflow: hidden;
	border: 1px solid #ccc;
	position: absolute;
}

.post:hover {
	background-color: hsl(0, 0%, 97%);
}

.post:hover > .post_actions {
	.opacity (1);
}

.post_options {
	float: left;
	position: relative;
	overflow: visible;
	height: 100%;
}

.post_content {
	float: right;
	padding-left: 0.625em;
}

.post_actions {
	.opacity (0.1);
	position: absolute;
	bottom: 0.1*0.625em;
	right: 0.5*0.625em;
}

.login_page {
	background-image: url('../img/login_bg.jpg');
	.cover;
}

.login_module {
	background: rgba(255, 255, 255, 0.95);
	.border (7px);
	color: #444;
	text-align: center;
	max-width: 30%;
	margin: 2em auto;
}

.login_head {
	padding: 0.625em;
	color: white;
	background-color: lighten(@primary, 10%);
	border-bottom: .3em solid @primary;
}

.login_form {
	padding: 0.625em;
}

input {
	font-family: 'Signika', helvetica, sans-serif;
}